body {
    font-family: "fira code", monospace, arial;
    background-color: black;
}

.information {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile::before {
    content: '';
    position: fixed;
    height: 300px;
    width: 300px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s;
}

.profile img {
    width: 0;
    height: 0;
    border: 0px solid white;
    border-radius: 0%;
    opacity: 0;
    transition: 0.5s;
}

.profile h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    transition: 0.5s;
}

.profile h3 {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover {
    filter: unset;
}

.card:hover > .profile::before {
    height: 400px;
    width: 400px;
    opacity: 1;
}

.card:hover > .profile img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    opacity: 1;
    border-radius: 50%;
}

.card:hover > .profile h1 {
    font-size: 30px;
}

.card:hover > .profile h3 {
    opacity: 1;
    visibility: visible;
    font-size: 1rem;
}